{% extends 'layouts/base.html' %} {% block titulo %} Acortador de link {% endblock %} {% block contenido %}
<div class="mt-5">
    <h1 style="text-align:center;color:black">URL Shortener</h1>
</div>
{% if 'user' in session %}
<h2 style="font-family:monospace;">Welcome {{session['user'][1]}}</h2>
{% endif %} {% if not 'user' in session %}
<div class="mb-3">
    <a class="btn btn-info" style="color: white" href="{{url_for('logIn')}}">Log In</a>
    <a class="btn btn-primary" href="{{url_for('signUp')}}">Sign Up</a>
</div>
{% endif %} {% if 'user' in session %}
<a class="btn btn-danger" href="{{url_for('logOut')}}">Log out</a> {% endif %}

<form action="{{url_for('index')}}" method="POST">
    <div class="mt-4 mb-3">
        <label for="link">URL:</label>
        <input type="text" id="link" name="link" class="form-control" value='{{shortLink}}' required>
    </div>
    <button class="btn btn-success" type="submit">Generate</button>
</form>

{% if (myexample(linksUser)!=0) %}
<table class="table" style="background-color: rgb(153, 177, 158);">
    <th>
        <tr>
            <th>ID</th>
            <th>Short Link</th>
            <th>Original Link</th>
            <th></th>
        </tr>
    </th>
    <tbody>
        {% if link %}
        <tr>
            <form method="POST">
                <td>Edit</td>
                <td><input class="form-control" type="text" id="shortlink" name="shortlink" value="{{link[1]}}" required></td>
                <td><input class="form-control" type="text" id="link" name="link" value="{{link[2]}}" required></td>
                <td><button class="btn btn-success" type="submit">Save</button></td>
            </form>
        </tr>
        {%endif %} {% for fact in linksUser %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{fact[1]}}</td>
            <td>{{fact[2]}}</td>
            <td>
                <a class="btn btn-success" href="{{url_for('editLink', link=fact[1])}}">Editar</a>
                <a class="btn btn-danger" href="{{url_for('deleteLink', link=fact[1])}}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %} {% endblock %}