<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %}</title>
    <!-- CSS- Lenguaje de estilos-->
    <!-- Comentarios-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
</head>

<body>
    {% with messages = get_flashed_messages(category_filter=['success']) %} {% if messages %}
    <ul>
        {% for message in messages %}
        <div class="alert alert-success mt-2" role="alert" style="font: weight 500">
            {{ message }}
        </div>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %} {% with messages = get_flashed_messages(category_filter=['error']) %} {% if messages %}
    <ul>
        {% for message in messages %}
        <div class="alert alert-danger mt-2" role="alert" style="font: weight 500">
            {{ message }}
        </div>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <div class="container mt-5">
        {% block contenido %}{% endblock %}
    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
</body>

</html>